<h2>Bathrooms</h2>
<div class="switch-field">
    <input type="radio" id="radio-1-Ba" name="uiBA" value="1"/>
    <label for="radio-1-BA">1</label>
    <input type="radio" id="radio-2-BA" name="uiBA" value="2"/>
    <label for="radio-2-BA">2</label>
    <input type="radio" id="radio-3-BA" name="uiBA" value="3"/>
    <label for="radio-3-BA">3</label>
    <input type="radio" id="radio-4-BA" name="uiBA" value="4"/>
    <label for="radio-4-BA">4</label>
    <input type="radio" id="radio-5-BA" name="uiBA" value="5"/>
    <label for="radio-5-BA">5</label>
    <input type="radio" id="radio-6-BA" name="uiBA" value="6"/>
    <label for="radio-6-BA">6</label>
</div>
