<h2>Bedrooms</h2>
        <div class="switch-field">
            <input type="radio" id="radio-1-BR" name="uiBR" value="1"/>
            <label for="radio-1-BR">1</label>
            <input type="radio" id="radio-2-BR" name="uiBR" value="2"/>
            <label for="radio-2-BR">2</label>
            <input type="radio" id="radio-3-BR" name="uiBR" value="3"/>
            <label for="radio-3-BR">3</label>
            <input type="radio" id="radio-4-BR" name="uiBR" value="4"/>
            <label for="radio-4-BR">4</label>
            <input type="radio" id="radio-5-BR" name="uiBR" value="5"/>
            <label for="radio-5-BR">5</label>
            <input type="radio" id="radio-6-BR" name="uiBR" value="6"/>
            <label for="radio-6-BR">6</label>
    </div>
