<select class="city" name="" id="uiCity">
    <option value="" disabled="disabled" selected="selected">Select a City</option>
        <option>Archie</option>
        <option>Belton</option>
        <option>Cleveland</option>
        <option>Creighton</option>
        <option>Drexel</option>
        <option>East lynne</option>
        <option>Freeman</option>
        <option>Garden City</option>
        <option>Greenwood</option>
        <option>Harrisonville</option>
        <option>Kingsville</option>
        <option>Lake Winnebago</option>
        <option>Lees Summit</option>
        <option>Loch Lloyd</option>
        <option>Peculiar</option>
        <option>Pleasant Hill</option>
        <option>Raymore</option>
        <option>Strasburg</option>
</select>
